body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    background-image: url('imagens/background.jpg');
    background-size: cover;
    color: #333;
    text-align: center;
    padding-top: 50px;
}